# LLM-API-Konfiguration (unterstützt jede LLM-API im OpenAI-SDK-Format)
# Empfohlen: Alibaba Bailian-Plattform mit dem qwen-plus-Modell: https://bailian.console.aliyun.com/
# Achtung, hoher Verbrauch möglich, versuche zuerst Simulationen mit weniger als 40 Runden
LLM_API_KEY=your_api_key_here
LLM_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
LLM_MODEL_NAME=qwen-plus

# ===== ZEP-Gedächtnisgraph-Konfiguration =====
# Das monatliche Gratiskontingent reicht für einfache Nutzung aus: https://app.getzep.com/
ZEP_API_KEY=your_zep_api_key_here

# ===== Beschleunigte LLM-Konfiguration (optional) =====
# Achtung: Wenn du die Beschleunigungs-Konfiguration nicht nutzt, dürfen die folgenden Einträge nicht in der env-Datei stehen
LLM_BOOST_API_KEY=your_api_key_here
LLM_BOOST_BASE_URL=your_base_url_here
LLM_BOOST_MODEL_NAME=your_model_name_here